.how__it__works {
  padding-top: var(--main-section-spacing);
  padding-bottom: var(--main-section-spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../Assets/Images/Main-bg_serv01.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: contain; */
}
.how__it__works .wrapper {
  width: 50%;
}
.how__it__works .title {
  font-size: 40px;
  line-height: 49px;
  text-align: left;
  margin-bottom: 10px;
}
.how__it__works .paragraph {
  line-height: 27px;
  font-weight: 400;
  font-size: 18px;
}
.how__it__works .image {
  width: 50%;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.box {
  width: 47%;
  padding: 30px 30px;
  border-radius: 30px;
}
.boxes .box:first-child,
.boxes .box:nth-child(4) {
  background-color: #ebf3fe;
}
.boxes .box:nth-child(2),
.boxes .box:nth-child(3) {
  background-color: #fff9f2;
}
.box .icon img {
  max-width: 100%;
  width: 100px;
}
.box .title__box {
  font-family: Barlow;
  line-height: 34px;
  color: #242424;
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0 20px;
}
.box .box__phrase {
  font-family: Barlow;
  line-height: 27px;
  font-weight: 400;
  color: #373737;
  font-size: 18px;
}
