.header {
  height: 85px;
  z-index: 1000;
  position: relative;
}
.home__header {
  height: 85px;
  z-index: 1000;
  position: relative;
  background-color: #83b6f8;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__wrapper .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(2px);
}
.logo__wrapper .logo img {
  width: 25px;
}
.logo__name {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--black-color);
  margin-left: 5px;
}
.linklist {
  display: flex;
  justify-content: center;
  align-self: center;
}
.link li {
  display: block;
  padding: 32px 17px;
  font-size: 17px;
  font-weight: 500;
  display: block;
  line-height: 23px;
  color: black;
  transition: var(--main-transition);
}
.link li:hover {
  opacity: 0.6;
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my__account {
  transition: var(--main-transition);
}
.my__account:hover {
  opacity: 0.6;
}
.login__href {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__icon {
  width: 20px;
  margin-right: 15px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button {
  color: var(--white-color);
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border-radius: 30px;
  display: block;
  width: fit-content;
  cursor: pointer;
  transition: var(--main-transition);
}
.join__as__creator {
  background: var(--main-blue);
}
.join__as__brand {
  background: var(--main-orange);
}
.button:hover {
  background: var(--black-color);
}

@media (max-width: 1200px) {
  .link li {
    padding: 32px 11px;
  }
  .loginIcon {
    margin-right: 10px;
  }
  .button {
    padding: 12px 14px;
  }
}
