.main__wrapper {
  margin-bottom: 35px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .text {
}
.wrapper .title {
  font-family: Barlow;
  color: #242424;
  font-size: 40px;
}
.wrapper .description {
  font-family: Barlow;
  color: #373737;
  font-size: 18px;
}
.button {
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 15px;
  transition: var(--main-transition);
  font-weight: 500;
  color: var(--black-color);
}
.button:hover {
  background-color: var(--main-blue-hover);
}