.main__wrapper {
  padding-top: var(--main-section-spacing);
  padding-bottom: var(--main-section-spacing);
}
@media (max-width: 768px) {
  .main__wrapper {
    padding-top: calc(var(--main-section-spacing) / 2);
    padding-bottom: calc(var(--main-section-spacing) / 2);
  }
}
