.intro {
  height: 380px;
  background-image: url(../../Assets/Images/contact-bread.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.content {
    color: var(--white-color);
    font-size: 60px;
}
@media (max-width: 768px) {
  .content {
    font-size: 35px;
  }
}